---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
		<meta name="generator" content={Astro.generator} />
        
        <!-- Google font preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    
    <body class="dark:bg-gray-800">
        
        <div class="container pt-0 mx-auto"> 
            <Header />
        </div>

        <div class="container mx-auto pb-0">
            <slot />
        </div>
                
        <Footer />
        
        <script src="../../node_modules/preline/dist/preline.js"></script>
    </body>
</html>